

body {
  font-family: sans-serif;
  margin: 10px;
  background-color: #f4f6f9;
}


header {
    color: #ffffff;
    background-color: #0d2346;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 15px;
    margin-bottom: 15px;
}


.logo {
    color: #0d2346;
    background-color: #ffcc00;
    border-radius: 25px;
    border: 3px solid black;
    font-size: 40px;
    text-align: center;
    font-family: 'Cinzel Decorative', serif;
    padding: 10px;
    font-weight: bold;
}


nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 15px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #0d2346;
    background-color: #ffcc00;
    border-radius: 25px;
}


main {
    color: #212529;
    background-color: #ffffff;
    border-radius: 25px;
    border: 2px solid black;
    padding: 25px;
    margin-bottom: 15px;
}

main h2 {
    color: #0d2346;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 5px;
}

main section div {
    text-align: center;
}


footer {
    color: #ffffff;
    background-color: #e51b23;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    padding: 15px;
}


#first img, #second img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    border-radius: 20px;
    border: 3px solid #0d2346;
}


.products-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
    gap: 15px;
}
